@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    font-family: monospace';
}

body {
    margin: 0 auto;
    padding: 40px;
    background-color: beige;
}

h1{
    text-align: center;
    font-family: monospace;
}

h2{
    text-align: center;
    font-family: monospace;
}


#section {
    margin-top: 100px;
    font-family:monospace;
}

.img-responsive {
    max-width: 100%;
    height: 65vh;
    position: relative;
    top: 150px;
}

.titre_sec {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    padding: 20px 50px;
    font-family:monospace;
    font-weight: 100px;
    text-align: center;
}

.para_sec {
    font-size: 20px;
    text-align: center;
}

.pied {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #888;
}
