{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- header -->
<header class="header">

   <div class="header_top_section">
      <div class="container">
         <div class="row">
            <div class="col-lg-3">
               <div class="full">
                  <div class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="#" />
                  </div>
               </div>
            </div>
            <div class="col-lg-9 site_information">
               <div class="full">
                  <div class="main_menu">
                     <nav class="navbar navbar-inverse navbar-toggleable-md">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cloapediamenu"
                           aria-controls="cloapediamenu" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="float-left">Menu</span>
                           <span class="float-right"><i class="fa fa-bars"></i> <i class="fa fa-close"></i></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-md-center" id="cloapediamenu">
                           <ul class="navbar-nav">
                              <li class="nav-item">
                                 <a class="nav-link color-grey-hover" href="{% url 'profil' %}"> <button class="btn btn-succes">Mon Profil</button></a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link color-grey-hover" href="{% url 'contact' %}">Contact Us</a>
                              </li>
                              
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

</header>
<!-- end header -->

<!-- section -->
<section class="layout_padding section">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="contact_section margin_top_30">
               <div class="row">
                  {% if show_message %}
                  <div role="dialog" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="false" style="background-color: rgb(210, 214, 217);">
                     <div class="toast-header">
                       <img src="{% static 'images/admin.png' %}" class="rounded me-2" alt="...">
                       <strong class="me-auto">Admin</strong>
                       <small>Cette notification disparaitra dans 24h</small>
                       <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                     </div>
                     <div class="toast-body bg-white">
                            {% for message in messages %}
                                <div class="message" style="color: rgb(0, 0, 0);">{{ message }}</div>
                            {% endfor %}
                    </div>
                    
                   </div>
                 </div>
                 {% endif %}

                  <div class="col-md-10 offset-md-1">
                     <div class="form_cont">
                        <!-- page_add.html -->
                        <div class="container mt-4">
                           <h1 class="text-center">Emploi du temps du  {{ groupe }} <br> {{ lundi.0.semaine }}</h1>
                           <div class="table-responsive">
                              <table class="table table-bordered">
                                 <thead>
                                    <tr>
                                       <th scope="col">Lundi</th>
                                       <th scope="col">Mardi</th>
                                       <th scope="col">Mercredi</th>
                                       <th scope="col">Jeudi</th>
                                       <th scope="col">Vendredi</th>
                                       <th scope="col">Samedi</th>
                                       <th scope="col">Dimanche</th>
                                    </tr>
                                 </thead>
                                 <strong>
                                 <tbody>
                                    <tr>
                                       <td>
                                          {{ lundi.0.heure_debut }} - {{ lundi.0.heure_fin }} {{ lundi.0.emploi.licence }}
                                          <br>
                                          {{ lundi.0.emploi.professeur }} <br> Quota Horraire : {{ lundi.0.emploi.quota_restante }} <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ mardi.0.heure_debut }} - {{ mardi.0.heure_fin }} {{ mardi.0.emploi.cours }}
                                          <br>
                                          {{ mardi.0.emploi.professeur }} <br> Quota Horraire : {{ mardi.0.emploi.quota_restante }}  <br> {{ lundi.0.groupe }} </td>
                                       <td>{{ mercredii.0.heure_debut }} - {{ mercredi.0.heure_fin }} {{ mercredi.0.emploi.cours }}
                                          <br>
                                          {{ mercredi.0.emploi.professeur }} <br> Quota Horraire : {{ mercredi.0.emploi.quota_restante }}  <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ jeudi.0.heure_debut }} - {{ jeudi.0.heure_fin }} {{ jeudi.0.emploi.cours }}
                                          <br>
                                          {{ jeudi.0.emploi.professeur }} <br> Quota Horraire : {{ jeudi.0.emploi.quota_restante }}  <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ Vendredi.0.heure_debut }} - {{ Vendredi.0.heure_fin }} {{ Vendredi.0.emploi.cours }}
                                          <br>
                                          {{Vendredi.emploi.professeur }} <br> Quota Horraire : {{ Vendredi.0.emploi.quota_restante }}  <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ samedi.0.heure_debut }} - {{ samedi.0.heure_fin }} {{ samedi.0.emploi.cours }}
                                          <br>
                                          {{samedi.0.emploi.professeur }} <br> Quota Horraire : {{ samedi.0.emploi.quota_restante }}  <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ dimanche.0.heure_debut }} - {{ dimanche.0.heure_fin }} {{ dimanche.0.emploi.cours }}
                                          <br>
                                          {{dimanche.0.emploi.professeur }} <br> Quota Horraire : {{ dimanche.0.emploi.quota_restante }}  <br> {{ lundi.0.groupe }}</td>
                                    </tr>
                                    <tr>
                                       <td>{{ lundi.1.heure_debut }} - {{ lundi.1.heure_fin }} {{ lundi.1.emploi.cours }}
                                          <br>
                                          {{ lundi.1.emploi.professeur }} <br> Quota Horraire : {{ lundi.1.emploi.quota_restante }}  <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ mardi.0.heure_debut }} - {{ mardi.1.heure_fin }} {{ mardi.1.emploi.cours }}
                                          <br>
                                          {{ mardi.1.emploi.professeur }} <br> Quota Horraire : {{ mardi.1.emploi.quota_restante }}  <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ mercredi.1.heure_debut }} - {{ mercredi.1.heure_fin }} {{ mercredi.1.emploi.cours }}
                                          <br>
                                          {{ mercredi.1.emploi.professeur }} <br> Quota Horraire : {{ mercredi.1.emploi.quota_restante }}  <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ jeudi.1.heure_debut }} - {{ jeudi.1.heure_fin }} {{ jeudi.1.emploi.cours }}
                                          <br>
                                          {{ jeudi.1.emploi.professeur }} <br> Quota Horraire : {{ jeudi.1.emploi.quota_restante }}  <br> {{ lundi.0.groupe }} </td>
                                       <td>{{ Vendredi.1.heure_debut }} - {{ Vendredi.1.heure_fin }} {{ Vendredi.1.emploi.cours }}
                                          <br>
                                          {{Vendredi.1.emploi.professeur }} <br> Quota Horraire : {{ Vendredi.1.emploi.quota_restante }}  <br> {{ lundi.0.groupe }} </td>
                                       <td>{{ samedi.1.heure_debut }} - {{ samedi.1.heure_fin }} {{ samedi.1.emploi.cours }}
                                          <br>
                                          {{samedi.1.emploi.professeur }} <br> Quota Horraire : {{ samedi.1.emploi.quota_restante }}  <br> {{ lundi.0.groupe }} </td>
                                       <td>{{ dimanche.1.heure_debut }} - {{ dimanche.1.heure_fin }} {{ dimanche.1.emploi.cours }}
                                          <br>
                                          {{dimanche.1.emploi.professeur }} <br> Quota Horraire : {{ dimanche.1.emploi.quota_restante }}  <br> {{ lundi.0.groupe }} </td>
                                    </tr>
                                    <tr>
                                       <td>{{ lundi.2.heure_debut }} - {{ lundi.2.heure_fin }} {{ lundi.2.emploi.cours }}
                                          <br>
                                          {{ lundi.2.emploi.professeur }} <br> Quota Horraire : {{ lundi.2.emploi.quota_restante }}  <br> {{ lundi.0.groupe }} </td>
                                       <td>{{ mardi.0.heure_debut }} - {{ mardi.2.heure_fin }} {{ mardi.2.emploi.cours }}
                                          <br>
                                          {{ mardi.2.emploi.professeur }} <br> Quota Horraire : {{ mardi.2.emploi.quota_restante }} <br> {{ lundi.0.groupe }} </td>
                                       <td>{{ mercredi.2.heure_debut }} - {{ mercredi.2.heure_fin }} {{ mercredi.2.emploi.cours }}
                                          <br>
                                          {{ mercredi.2.emploi.professeur }} <br> Quota Horraire : {{ mercredi.2.emploi.quota_restante }}  <br> {{ lundi.0.groupe }} </td>
                                       <td>{{ jeudi.2.heure_debut }} - {{ jeudi.2.heure_fin }} {{ jeudi.2.emploi.cours }}
                                          <br>
                                          {{ jeudi.2.emploi.professeur }} <br> Quota Horraire : {{ jeudi.2.emploi.quota_restante }}  <br> {{ lundi.0.groupe }} </td>
                                       <td>{{ Vendredi.2.heure_debut }} - {{ Vendredi.2.heure_fin }} {{ Vendredi.2.emploi.cours }}
                                          <br>
                                          {{Vendredi.2.emploi.professeur }} <br> Quota Horraire : {{ Vendredi.2.emploi.quota_restante }} <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ samedi.2.heure_debut }} - {{ samedi.2.heure_fin }} {{ samedi.2.emploi.cours }}
                                          <br>
                                          {{samedi.2.emploi.professeur }} <br> Quota Horraire : {{ samedi.2.emploi.quota_restante }} <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ dimanche.2.heure_debut }} - {{ dimanche.2.heure_fin }} {{ dimanche.2.emploi.cours }}
                                          <br>
                                          {{dimanche.2.emploi.professeur }} <br> Quota Horraire : {{ dimanche.2.emploi.quota_restante }} <br> {{ lundi.0.groupe }}</td>
                                    </tr>
                                    <tr>
                                       <td>{{ lundi.3.heure_debut }} - {{ lundi.3.heure_fin }} {{ lundi.3.emploi.cours }}
                                          <br>
                                          {{ lundi.3.emploi.professeur }} <br> Quota Horraire : {{ lundi.3.emploi.quota_restante }}  <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ mardi.0.heure_debut }} - {{ mardi.3.heure_fin }} {{ mardi.3.emploi.cours }}
                                          <br>
                                          {{ mardi.3.emploi.professeur }} <br> Quota Horraire : {{ mardi.3.emploi.quota_restante }}  <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ mercredi.3.heure_debut }} - {{ mercredi.3.heure_fin }} {{ mercredi.3.emploi.cours }}
                                          <br>
                                          {{ mercredi.3.emploi.professeur }} <br> Quota Horraire : {{ mercredi.3.emploi.quota_restante }}  <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ jeudi.3.heure_debut }} - {{ jeudi.3.heure_fin }} {{ jeudi.3.emploi.cours }}
                                          <br>
                                          {{ jeudi.3.emploi.professeur }} <br> Quota Horraire : {{ jeudi.3.emploi.quota_restante }}  <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ Vendredi.3.heure_debut }} - {{ Vendredi.3.heure_fin }} {{ Vendredi.3.emploi.cours }}
                                          <br>
                                          {{Vendredi.3.emploi.professeur }} <br> Quota Horraire : {{ Vendredi.3.emploi.quota_restante }}  <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ samedi.3.heure_debut }} - {{ samedi.3.heure_fin }} {{ samedi.3.emploi.cours }}
                                          <br>
                                          {{samedi.3.emploi.professeur }} <br> Quota Horraire : {{ samedi.3.emploi.quota_restante }}  <br> {{ lundi.0.groupe }}</td>
                                       <td>{{ dimanche.3.heure_debut }} - {{ dimanche.3.heure_fin }} {{ dimanche.3.emploi.cours }}
                                          <br>
                                          {{dimanche.3.emploi.professeur }} <br> Quota Horraire : {{ dimanche.3.emploi.quota_restante }}  <br> {{ lundi.0.groupe }}</td>
                                    </tr>
                                    <!-- Ajoutez d'autres lignes pour les autres plages horaires -->
                                 </tbody>
                                 </strong>
                              </table>
                           </div>
                        </div>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
                        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <a href="{% url 'deconnexion'  %}">
         <button class="btn btn-danger">Logout</button>
      </a>

   </div>
</section>
<!-- end section -->


<!-- footer -->
<footer class="footer layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-4 col-sm-12">
            <div class="footer_link_heading">
               <div class="footer_menu margin_top_30">
                  <ul>
                     <li><a href="tel:9876543210">9876 543 210</a></li>
                     <li><a href="#">demo@gmail.com</a></li>
                     <li><a href="#">40 Baria Sreet 133/2 NewYork City, US</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- end footer -->

<!-- Core JavaScript
      ================================================== -->

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/tether.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/parallax.js' %}"></script>
<script src="{% static 'js/animate.js' %}"></script>
{% endblock %}